body{
  background-color: #E3E6E6;
}

.bg-red {
  background-color: #dc3545 !important;
}

.bg-green {
  background-color: #198754 !important;
}

.bg-yellow {
  background-color: #ffc107 !important;
}
.cursor-pointer {
  cursor: pointer;
}

.bg-success-half {
  background-color: rgba(25, 135, 84, 0.5) !important;
}

tr.hover-fade-scale {
  transition: transform 0.1s ease, background-color 0.1s ease, opacity 0.1s ease;
}

tr.hover-fade-scale:hover {
  background-color: #f6f6f6;
  transform: scale(1.001);
  opacity: 0.95;
}

.selected{
  border-left: 5px solid #007bff;
  background-color: #e6f0ff;
}

.checkbox-success:checked {
  background-color: #198754;
  border-color: #198754;
}
.checkbox-warning:checked {
  background-color: #ffc107;
  border-color: #ffc107;
}

.form-check-input.checkbox-warning:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
