body{
  background-color: #E3E6E6;
}

.bg-red {
  background-color: #dc3545 !important;
}

.bg-green {
  background-color: #198754 !important;
}

.bg-yellow {
  background-color: #ffc107 !important;
}
.cursor-pointer {
  cursor: pointer;
}

.bg-success-half {
  background-color: rgba(25, 135, 84, 0.5) !important;
}

tr.hover-fade-scale {
  transition: transform 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
}

tr.hover-fade-scale:hover {
  background-color: #f6f6f6;
  transform: scale(1.005);
  opacity: 0.95;
}
